{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Career Den</title>
    <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
    {% block extra_css %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
    <script src="{% static 'core/js/drag_n_drop.js' %}"></script>
    {% block extra_script %}
    {% endblock %}
</head>
<body>
<header class="header" style="border: black solid 5px">
{#    Todo: remove hard coded url, better use urls django way#}
    <button hx-get="graph/" hx-swap="innerHTML" hx-target="main" hx-trigger="click delay:1s">
        See graph
    </button>
    <button hx-get="latex_main/" hx-swap="innerHTML" hx-target="main" hx-trigger="load, click delay:1s">
        Render Template
    </button>
</header>
<main>

</main>
</body>
</html>