<div id="required-context-area" hx-on:htmx:config-request="generatePostParams(event)">
    <h3>Context required are: </h3>
    <div id="required-context-detail">
        <ul id="context-list">
            {% for k in required_template_context %}
                <li><label for="{{ k }}">{{ k|capfirst }} : </label><input id="rc-{{ k }}" name="{{ k }}" type="text" data-type="td" ondrop="dropHandler"></li>
            {% endfor %}
        </ul>
    </div>
    <button type="submit" value="Render Template" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-post="/render_template/" hx-target="#content-box">Render Template</button>
</div>