.selected-cell {
    border: darkseagreen solid 1px;
    background-color: cadetblue;
    color: aliceblue;
}

.selectable-cell:hover {
    cursor: pointer;
    color: cadetblue;
}

/*Todo: implmenet grid for body to give header and main section required spaces*/

/*body {*/
/*    background-color: aliceblue;*/
/*    grid-template-columns: repeat(12, 1fr);*/
/*    grid-template-rows: 100px 1fr;*/
/*    display: grid;*/
/*    box-sizing: border-box;*/
/*    height: 98vh;*/
/*    width: 98vw;*/
/*    padding: 1vh 1vw;*/
/*}*/


.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto 1fr;
    gap: 20px;
    height: 97vh;
    padding: 2vh;
    box-sizing: border-box;
}

.header {
    grid-column: 1 / 13;
    grid-row: 1
}

.tool-box-half {
    grid-column: 1 / 6;
    grid-row: 2;
}

.tool-op-half {
    grid-column: 6/13;
    grid-row: 2;
}

.content {
    grid-column: 1/13;
    grid-row: 3;
    overflow-y: auto; /* Adds scrollbar if content overflows */
    place-self: stretch;
    text-align: left;
    min-height: 0;
}

.content embed {
    display: block;
    margin: 20px auto;
}

